@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&family=Roboto:wght@400;500;700;800;900&display=swap');


    


:root {
    --iris: #4D5AE5;
    --ocean: #404BBF;
    --navy-blue: #2E2F42;
    --green: #31D0AA;
    --slate: #434455;
    --light-slate: #8E8F99;
    --cornflower: #E7E9FC;
    --cloud: #F4F4FD;
    --navy-blue-mpdal: #2E2F42;
    --grey: #2E2F42;
    --white: #FFFFFF;
    --dairy: #FCFCFC;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--text);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5rem;
    letter-spacing: 2%;
    font-style: normal;
}
h1 {
    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 3.75rem;
    letter-spacing: 2%;
}

/* =====HEADER===== */
.header {
    height: 72px;
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav a {
    text-decoration: none;
    color: var(--navyblue, #2E2F42);
}

nav {
    display: flex;
    align-items: center;
}
.nav__link {
    list-style: none;
    display: flex;
    gap: 40px;
    margin-left: 36px;
    
    
}
address a { 
    text-decoration: none;
    color: var(--navyblue, #2E2F42);
    margin-left: 40px;
}

address {   
display: inline-flex;
flex-wrap: wrap;
justify-content: right;
   
}

.logo {
    color: var(--navy-blue-mpdal);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.125rem;
    letter-spacing: 0.54px;
    text-decoration: none;  
    display: flex;
}

.logo::before {
    text-align: center;
    content: 'WEB';
    color: var(--iris)
}

/* =====FOOTER===== */

#footer {
    height: 312px;
    background: var(--navy-blue-mpdal);
    color: var(--light);
    padding: 0 10%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.container_footer {
    width: 264px;
}

#footer .logo,
#footer p {
    color: var(--cloud)
}


/* =====HERO SECTION===== */

#hero-section {
    height: 600px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
   background: var(--navy-blue);
}

.hero-text {
    text-align: center;
    width: 492px;
    height: 120px;
    color: var(--white, #FFF);
}

/* =====BUTTON HERO===== */

.button {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: 0.64px;
    cursor: pointer;
}

.button:hover {
background: var(--ocean, #404BBF);
}

.order { 
    display: inline-flex;
    padding: 16px 32px;
    align-items: flex-start;
    border-radius: 4px;
    background: var(--iris, #4D5AE5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--white, #FFF);
}



/* =====INDEX - FEATURE SECTION===== */

#feature-section h3, #feature-section p {
    margin: 0;
}

#feature-section li {
   width:264px;
   margin: 0;
   padding: 120px 0;
   gap: 8;
}

#feature-section ul {
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

/* =====INDEX - SERVICE SECTION===== */

#service-section h2 {
    margin-bottom: 72px;
}
#service-section {
    text-align: center;
    padding-top: 120px;  
}

#service-section ul {
    padding-bottom: 120px;
    margin: 0;
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 24px;
}



/* =====INDEX - TEAMCARD===== */

#teamcard_section h2 { 
    margin-bottom: 72px;
}
#teamcard_section {
    padding-top: 120px;
    padding-bottom: 120px;
    background: var(--cloud);
    text-align: center;  
}

#teamcard_section li {
    list-style: none;
    border-radius: 0px 0px 4px 4px;
    background: var(--white, #FFF);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    margin: 0 0;
    padding: 0 0;
}

#teamcard_section ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 24px;
}


/* =====PORTFOLIO - PREVIEW SECTION===== */


#preview-section {
    padding: 0 10%;
    margin: 0 auto;
    max-width: 1440px;
}

#preview-section li {  
    width: 360px;
    height: 420px;
    border: 1px solid var(--cornflower, #E7E9FC);
    background: var(--white, #FFF);   
}

#preview-section ul {
    margin: 0 auto;
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    margin-bottom: 48px;
}

.card-content {
    padding: 32px 16px;
    gap: 8px;
}

.card-content p, .card-content h3 {
    margin: 0;
}

/* =====PORTFOLIO - BUTTON FILTER===== */

#filter_section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    margin-top: 96px;
    margin-bottom: 72px;
}

.filter {
    padding: 12px 24px;
    border-radius: 4px;
    border: 1px solid var(--cornflower, #E7E9FC);
    background: var(--cloud, #F4F4FD);
}

.filter:hover {
    background: var(--ocean, #404BBF);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}



















